@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Developed by <a href="https://docs.microsoft.com/aspnet/core">Prashant sharma</a>.</p>
</div>
<div class=" text-centre">
    <h1 class="display-1">In this site You Can Order the Grocery Item. Please click on Category and order any Grocery Item</h1>
</div>
